@charset "UTF-8";

#cartTable{
	box-sizing: border-box;
	width: 295px;
	height: 1081px;
	background: #FFFFFF;
	border: 3px solid #FFFFFF;
	border-radius: 30px 0px 0px 30px;
}

	/* 장바구니 칸 */
	
#menu{
	box-sizing: border-box;
	width: 201px;
	height: 772px;
	left: 1673px;
	top: 45px;

	background: #FFFFFF;
	border: 1px solid #011E61;
}

/* Line */

#line{
	width: 290px;
	height: 0px;
	left: 1627px;
	top: 786px;
	margin-top: 480px;
	background-color: #011E61;
	border: 3px solid #011E61;
	
}

	/* 총 결제 금액 */
	
#mungu{
	width: 250px;
	height: 70px;
	top: 807px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 48px;

	color: #011E61;
}

#totalPrice{
	width: 20px;
	height: 54px;
	left: 1719px;
	top: 875px;
	margin-top: 20px;
	margin-left: 230px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 45px;
	line-height: 54px;

	color: #BD433B;
	
}

	/* 결제 버튼 */
#paybox{
	box-sizing: border-box;
	margin-top:20px;
	width: 295px;
	height: 139px;
	left: 1626px;
	top: 941px;
	background: #011E61;
	border: 1px solid #FFFFFF;
	border-radius: 0px 0px 0px 30px;
	display: flex;
}

	/* 결제하기 */
	
#paybox_comment{
	width: 300px;
	height: 61px;
	left: 1723px;
	top: 979px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 45px;
	line-height: 61px;
	margin-top: 30px;
	margin-left: 30px;
/* identical to box height */
	color: #FFFFFF;
}
