@charset "UTF-8";
@import "reset.css";

.manage-container {
 height: 100vh;
 display : grid;
 grid-template-columns: 150px auto;
 grid-template-rows: 50px auto;
 grid-template-areas:
 'logo search'
 'navbar main';
}

.manage-logo {
	grid-area: logo;
	border: 2px solid blue;
}

.manage-navbar {
	grid-area: navbar;
}

.manage-search {
	grid-area: search;
}

.manage-main {
	grid-area: main;
	border: 2px solid red;
	display: grid;
	grid-template-rows: 40px 40px 1fr;
}

.manage-menu-type {
	display: flex;
}

.manage-menu-type div {
	width: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.manage-menu-desc,
.manage-menu-main {
	display: grid;
    grid-template-columns: repeat(7, 120px);
}


.manage-item {
	display: flex;
	border: 1px solid black;
	justify-content: center;
	align-items: center;
}

.manage-item img {
	width: 80px;
}