@charset "UTF-8";

@import "normalize.css";

.containor {
	position: relative;
	width: 1920px;
	height: 1080px;
	background: #011E61;
	border: 1px solid #011E61;
}

/*header*/
.header {
	box-sizing: border-box;
	position: relative;
	width: 288px;
	height: 1038px;
	left: 20px;
	top: 17px;
	background: #FFFFFF;
	border: 3px solid #011E61;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
}

#home {
	position: absolute;
	width: 250px;
	height: -500px;
	left: 20px;
	top: 30px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	background-color: white;
	color: #011E61;
	border: 0;
	font-family: 'Inter';
}

#coffee-button {
	position: absolute;
	width: 224px;
	height: 115px;
	left: 30px;
	top: 150px;
	border-radius: 30px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 70px;
	line-height: 97px;
	color: white;
	border: 0;
	background-color: #c0c0c0;
}

#coffee-button:hover {
	position: absolute;
	width: 224px;
	height: 115px;
	left: 30px;
	top: 150px;
	border-radius: 30px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 70px;
	line-height: 97px;
	color: white;
	border: 0;
	background-color: #011E61;
}

#tea-button {
	position: absolute;
	width: 224px;
	height: 115px;
	left: 30px;
	top: 350px;
	border-radius: 30px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 70px;
	line-height: 97px;
	color: white;
	border: 0;
	background-color: #c0c0c0;
}

#tea-button:hover {
	position: absolute;
	width: 224px;
	height: 115px;
	left: 30px;
	top: 350px;
	border-radius: 30px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 70px;
	line-height: 97px;
	color: white;
	border: 0;
	background-color: #011E61;
}

#dessert-button {
	position: absolute;
	width: 224px;
	height: 115px;
	left: 30px;
	top: 550px;
	border-radius: 30px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 60px;
	line-height: 97px;
	color: white;
	border: 0;
	background-color: #c0c0c0;
}

#dessert-button:hover {
	position: absolute;
	width: 224px;
	height: 115px;
	left: 30px;
	top: 550px;
	border-radius: 30px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 60px;
	line-height: 97px;
	color: white;
	border: 0;
	background-color: #011E61;
}

#drink-button {
	position: absolute;
	width: 224px;
	height: 115px;
	left: 30px;
	top: 750px;
	border-radius: 30px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 70px;
	line-height: 97px;
	color: white;
	border: 0;
	background-color: #c0c0c0;
}

#drink-button:hover {
	position: absolute;
	width: 224px;
	height: 115px;
	left: 30px;
	top: 750px;
	border-radius: 30px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 70px;
	line-height: 97px;
	color: white;
	border: 0;
	background-color: #011E61;
}

#call-button img {
	width: 60px;
	height: 60px;
}

#call-button {
	position: absolute;
	width: 150px;
	height: 36px;
	left: 0px;
	top: 920px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	font-size: 25px;
	line-height: 36px;
	color: #011E61;
	background-color: white;
	border: 0;
}

#before-button img {
	width: 60px;
	height: 60px;
}

#before-button {
	position: absolute;
	width: 150px;
	height: 36px;
	left: 130px;
	top: 920px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	font-size: 25px;
	line-height: 36px;
	color: #011E61;
	background-color: white;
	border: 0;
}

.fa-solid {
	font-size: 55px;
}

.fa-arrow-right {
	transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* contents */
.easy-contents {
	box-sizing: border-box;
	position: absolute;
	width: 1184px;
	height: 943px;
	left: 372px;
	top: 61px;
	background: #FFFFFF;
	border: 3px solid #011E61;
	border-radius: 30px;
}

#right-arrow {
	transform: rotate(45deg);
	position: absolute;
	top: 50%;
	right: 5px;
	background-color: white;
	border: 0;
	color: #011E61;
}

#left-arrow {
	transform: rotate(-45deg);
	position: absolute;
	top: 50%;
	left: 5px;
	background-color: white;
	border: 0;
	color: #011E61;
}

#content-page {
	position: relative;
	width: 1184px;
	height: 943px;
	text-align: center;
	left: 16%;
	top: 5%;
}

.grid-contents {
	display: grid;
	grid-template-columns: repeat(2, 400px);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 50px;
	margin: 0 auto;
	position: relative;
}

.grid-content-box {
	position: relative;
	background-color: white;
	width: 350px;
	height: 400px;
	border: 1px solid #011E61;
	border-radius: 20px;
	text-align: center;
}

.grid-content-box img {
	width: 150px;
	height: 200px;
	position: relative;
	bottom: 25px;
}

.grid-content-box img:hover {
	position: relative;
	transform: scale(1.2);
}

.grid-content-box.disabled {
  pointer-events: none;
}

#content-box-name {
	font-weight: 600;
	font-size: 33px;
	color: #011E61;
	position: relative;
	bottom: 10px;
}

#content-box-price {
	position: relative;
	font-weight: 600;
	font-size: 35px;
	color: #BD433B;
}

/*footer*/
.easy-footer {
	box-sizing: border-box;
	position: absolute;
	width: 295px;
	height: 1081px;
	left: 1626px;
	top: 0px;
	background: #FFFFFF;
	border: 3px solid #FFFFFF;
	border-radius: 30px 0px 0px 30px;
}