@charset "UTF-8";

@import "nomalize.css";


#modal {
	border-radius: 5px;
	position: fixed;
	width: 80vw;
	height: 80vh;
	font-size: 50px;
}

.con {
	position: relative;
	top: 250px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.con button {
	width: 400px;
	height: 100px;
	font-size: 50px;
}

.useIce {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#hot {
	border-radius: 5px;
	width: 200px;
	height: 50px;
	font-size: 25px;
}

#ice {
	border-radius: 5px;
	width: 200px;
	height: 50px;
	font-size: 25px;
}

.count {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.count button {
	border-radius: 5px;
	width: 50px;
	height: 50px;
	font-size: 25px;
}

.modal-button {
	border-radius: 5px;
}